.hCdCif {
  transition: background 0.1s ease-in-out 0s;
  -webkit-transition: background 0.1s ease-in-out 0s;
  background: #121921 center no-repeat;
  background-size: 10px;
  float: left;
  height: 50px;
  padding: 0;
  width: 50%;
  background-color: rgba(#121921, 0.9);
 }
@media (min-width: 768px) {
  .hCdCif {
    background-color: transparent;
    height: 22px;
    width: 42px;
  }
}