.cfLrVj {
  -webkit-appearance: none;
  background: none;
  display: block;
  position: relative;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100% !default;
 }
.cfLrVj::-moz-range-track{
  -webkit-appearance: none;
  width: 100% !default;
  height: 2px !default;
  cursor: pointer;
  animate: 0.2s;
  background: #121921 !default;
  border-radius: 1px;
  border: none;
  margin: 8px 0
}
.cfLrVj::-ms-track{
  -webkit-appearance: none;
  width: 100% !default;
  height: 2px !default;
  cursor: pointer;
  animate: 0.2s;
  background: #121921 !default;
  border-radius: 1px;
  border: none;
  margin: 8px 0
}
.cfLrVj::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  width: 100% !default;
  height: 2px !default;
  cursor: pointer;
  animate: 0.2s;
  background: #121921 !default;
  border-radius: 1px;
  border: none;
  margin: 8px 0
}
.cfLrVj::-moz-range-thumb{
  -webkit-appearance: none;
  width: 18px !default;
  height: 18px !default;
  border: none;
  border-radius: 18px !default;
  background: #ffffff !default;
  cursor: pointer;
  transition: background .15s ease-in-out;
  -webkit-transition: background .15s ease-in-out;
  position: relative;
  top: -8px;
}
.cfLrVj::-moz-range-thumb:hover{
  background: #ffffff !default;
}
.cfLrVj::-moz-range-thumb:active{
  background: #ffffff !default;
}
.cfLrVj::-ms-thumb{
  -webkit-appearance: none;
  width: 18px !default;
  height: 18px !default;
  border: none;
  border-radius: 18px !default;
  background: #ffffff !default;
  cursor: pointer;
  transition: background .15s ease-in-out;
  -webkit-transition: background .15s ease-in-out;
  position: relative;
  top: -8px;
}
.cfLrVj::-ms-thumb:hover{
  background: #ffffff !default;
}
.cfLrVj::-ms-thumb:active{
  background: #ffffff !default;
}
.cfLrVj::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 18px !default;
  height: 18px !default;
  border: none;
  border-radius: 18px !default;
  background: #ffffff !default;
  cursor: pointer;
  transition: background .15s ease-in-out;
  -webkit-transition: background .15s ease-in-out;
  position: relative;
  top: -8px;
}
.cfLrVj::-webkit-slider-thumb:hover{
  background: #ffffff !default;
}
.cfLrVj::-webkit-slider-thumb:active{
  background: #ffffff !default;
}